<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  The <a href="http://www.railstutorial.org/"><em><%= t ".base_title" %>
    <%= t ".text-8" %></em></a> <%= t ".text-5" %>
    <a href="http://www.railstutorial.org/book"><%= t ".text-1" %></a> <%= t ".text-6"%>
    <a href="http://screencasts.railstutorial.org/"><%= t ".text-2" %></a>
    <%= t ".text-7" %>
    <a href="http://rubyonrails.org/"><%= t ".base_title" %></a>.
    <%= t ".text-3" %>
  </p>
